<div class="container about-page">
  Version <h4>{{ version.semver }}</h4>
  <p>
    Inspired by <a href="https://github.com/mattkersley/Responsive-Design-Testing" target="_blank">Responsive Design Testing</a> by <a href="https://github.com/mattkersley" target="_blank">@mattkersey</a>.
  </p>

  <div class="row extra-top-spacing">
    <div class="one-third column">
      <h6>source code</h6>
      <i class="icon-github" style="font-size:3.5em;line-height:1;"></i>
      <span style="vertical-align:top; display:inline-block; margin-left: 1em;">
        <a href="https://github.com/orbitbot/exposure" target="_blank">Github</a>,
        <a href="https://github.com/orbitbot/exposure/issues" target="_blank">issues</a>
      </span>
    </div>
    <div class="one-third column about-text-size">
      <h6>development chat</h6>
        <a class="chat-links" href="https://gitter.im/orbitbot/exposure" target="_blank">
          <img src="/images/Gitter_logo.png"><br />
          https://gitter.im/orbitbot/exposure
        </a>
    </div>
    <div class="one-third column">
      <h6>license</h6>
      <a href="https://raw.githubusercontent.com/orbitbot/exposure/master/LICENSE" target="_blank">
        <img style="width:50px;" src="/images/osi_logo.png">
        <span style="vertical-align:top; display:inline-block; margin-left: 1em;">ISC licensed</span>
      </a>
    </div>
  </div>

  <h6>built with the significant unknowning help of developers of open source goodies</h6>
  <div class="row">
    <div class="one-half column about-text-size">
      <h6>app</h6>
      angular
      angular&#x2011;ui&#x2011;router
      hint.css
      pure
      normalize.css
      ng&#x2011;appcache
      angular&#x2011;pouchdb
      pouchdb
      pouchdb&#x2011;upsert
      moment
      skeleton
    </div>
    <div class="one-half column about-text-size">
      <h6>toolchain</h6>
      browser&#x2011;sync
      chai
      del
      gulp
      gulp&#x2011;angular&#x2011;templatecache
      gulp&#x2011;asset&#x2011;transform
      gulp&#x2011;autoprefixer
      gulp&#x2011;concat
      gulp&#x2011;debug
      gulp&#x2011;if
      gulp&#x2011;imagemin
      gulp&#x2011;jshint
      gulp&#x2011;less
      gulp&#x2011;load&#x2011;plugins
      gulp&#x2011;minify&#x2011;css
      gulp&#x2011;plumber
      gulp&#x2011;protractor
      gulp&#x2011;recess
      gulp&#x2011;rename
      gulp&#x2011;rev
      gulp&#x2011;size
      gulp&#x2011;sourcemaps
      gulp&#x2011;uglify
      jshint&#x2011;stylish
      karma
      karma&#x2011;chai
      karma&#x2011;coverage
      karma&#x2011;mocha
      karma&#x2011;mocha&#x2011;reporter
      karma&#x2011;ng&#x2011;html2js&#x2011;preprocessor
      karma&#x2011;phantomjs&#x2011;launcher
      karma&#x2011;sinon
      lodash
      mocha
      protractor
      sinon
    </div>
  </div>

  <div class="row about-text-size">
    <h6>copyright note</h6>
    gitter logo is trademark gitter corp -- used with permission
  </div>
</div>