<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a ui-sref="." class="pure-menu-heading">Exposure</a>

    <ul class="pure-menu-list">

      <li class="pure-menu-item" appcache-updateready>
        <a href="" class="pure-menu-link" ng-click="updatePage();">
          !
        </a>
      </li>

      <li class="pure-menu-item"><a ui-sref=".menu" class="pure-menu-link">Menu</a></li>
      <li class="pure-menu-item"><a ui-sref=".history" class="pure-menu-link">History</a></li>
    </ul>

    <ul class="pure-menu-list nav-center">
      <li class="pure-menu-item">
        <form novalidate ng-submit="loadPage(url)">
          <input ng-model="url" type="url" placeholder="" >
        </form>
      </li>
    </ul>

    <ul class="pure-menu-list u-pull-right">

      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">Mobile</a>
        <ul class="pure-menu-children">

          <li class="pure-menu-item"
            ng-repeat="mobile in mobiles">
            <a href="#" class="pure-menu-link">{{ mobile.name }}</a>
          </li>

        </ul>
      </li>

      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink2" class="pure-menu-link">Tablet</a>
        <ul class="pure-menu-children">

          <li class="pure-menu-item"
            ng-repeat="tablet in tablets">
            <a href="#" class="pure-menu-link">{{ tablet.name }}</a>
          </li>

        </ul>
      </li>

      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink3" class="pure-menu-link">Desktop</a>
        <ul class="pure-menu-children">

          <li class="pure-menu-item"
            ng-repeat="desktop in desktops">
            <a href="#" class="pure-menu-link">{{ desktop.name }}</a>
          </li>

        </ul>
      </li>

      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link"
          ng-click="lock != lock">Lock</a>
      </li>
    </ul>
  </div>
</div>