@import 'src/assets/less/colors';

.home-menu {
  padding: 0.5em;
  text-align: left; // center in low res media queries
  background-color: @background-color;
  form {
    margin: 0;
  }
  input {
    width: 680px;
    margin: 0;
  }
  button {
    margin: 0;
  }
  .hovering {
    font-size: 90%;
    text-transform: capitalize;
    opacity: 0.4;
  }
}

.shadow {
  box-shadow: 0 -4px 0 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
}

.nav-center {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  margin: auto;
  text-align: center;
}

.url-form input.ng-invalid.ng-touched {
  background-color: #ffc8cb;
}

.pure-menu-heading {
  padding: 1px 1em 0 1em;
  font-family: oswald;
  font-size: 2.4rem;
  text-transform: none;
}

.header-offset {
  margin-top: 3.8em;
}
