<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"
    scroll trigger="40" scope-var="shadow"
    ng-class="{ shadow : box-shadow }">
    <a ui-sref="." class="pure-menu-heading">responsive.fail</a>

    <ul class="pure-menu-list">

      <li class="pure-menu-item" appcache-updateready>
        <a href="" class="pure-menu-link" ng-click="updatePage();">
          !
        </a>
      </li>

      <li class="pure-menu-item hint--bottom" data-hint="About">
        <a ui-sref=".about" class="pure-menu-link"><strong>?</strong></a>
      </li>
    </ul>

    <ul class="pure-menu-list nav-center">
      <li class="pure-menu-item hint--bottom" data-hint="History">
        <a ui-sref=".history" class="pure-menu-link"><i class="icon-history"></i></a>
      </li>
      <li class="pure-menu-item">
        <form novalidate class="url-form" ng-submit="loadPage()">
          <input ng-model="url" type="url" validate-url>
        </form>
      </li>
    </ul>

    <ul class="pure-menu-list u-pull-right" ng-init="hovering.section = ''">
      <span class="hovering">{{ hovering.section }}</span>

      <li class="pure-menu-item pure-menu-allow-hover"
        ng-repeat="device in devices">

        <a href="#" class="pure-menu-link"
          ng-mouseenter="hovering.section = device.type"
          ng-mouseleave="hovering.section = ''">
          <i class="icon-{{ device.type }}"></i></a>
        <ul class="pure-menu-children"
          ng-mouseenter="hovering.section = device.type"
          ng-mouseleave="hovering.section = ''">

          <li class="pure-menu-item"
            ng-repeat="screen in device.screens">
            <a href="#" class="pure-menu-link"
              ng-class="activeNames.indexOf(screen.name) >= 0 ? 'pure-menu-selected' : 'pure-menu-disabled'"
              ng-click="toggleScreen(screen.name)">
              {{ screen.name }}
            </a>
          </li>

        </ul>
      </li>

      <li class="pure-menu-item hint--left" data-hint="Click to {{ lock ? 'enable' : 'disable' }} screen selection">
        <a href="#" class="pure-menu-link"
          ng-class="lock ? '' : 'pure-menu-disabled'"
          ng-click="lock = !lock">
          <i ng-class="lock ? 'icon-lock' : 'icon-lock-open'"></i>
        </a>
      </li>
    </ul>
  </div>
</div>