<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a ui-sref="." class="pure-menu-heading">Exposure</a>

    <ul class="pure-menu-list">

      <li class="pure-menu-item" appcache-updateready>
        <a href="" class="pure-menu-link" ng-click="updatePage();">
          !
        </a>
      </li>

      <li class="pure-menu-item"><a ui-sref=".history" class="pure-menu-link">History</a></li>
      <li class="pure-menu-item"><a ui-sref=".about" class="pure-menu-link">About</a></li>
    </ul>

    <ul class="pure-menu-list nav-center">
      <li class="pure-menu-item">
        <form novalidate class="url-form" ng-submit="loadPage(url)">
          <input ng-model="url" type="url" validate-url>
        </form>
      </li>
    </ul>

    <ul class="pure-menu-list u-pull-right">

      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"
        ng-repeat="device in devices">
        <a href="#" id="menuLink1" class="pure-menu-link">{{ device.type }}</a>
        <ul class="pure-menu-children">

          <li class="pure-menu-item"
            ng-repeat="screen in device.screens">
            <a href="#" class="pure-menu-link"
              ng-class="activeNames.indexOf(screen.name) >= 0 ? 'pure-menu-selected' : 'pure-menu-disabled'"
              ng-click="toggleScreen(screen.name)">
              {{ screen.name }}
            </a>
          </li>

        </ul>
      </li>

      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link"
          ng-class="lock ? '' : 'pure-menu-disabled'"
          ng-click="lock = !lock">Lock</a>
      </li>
    </ul>
  </div>
</div>