<div class="container history-container">
  <div class="row controls">

    <div class="two columns">
      <h5 class="u-pull-right">Storage</h5>
    </div>
    <div class="two columns">
      <button class="toggle-button"
        ng-class="settings.enabled ? 'enabled' : ''"
        ng-click="settings.enabled = !settings.enabled">
        {{ settings.enabled ? 'On' : 'Off' }}
        <i ng-class="settings.enabled ? 'icon-toggle-on' : 'icon-toggle-off'"></i>
      </button>
    </div>

    <div class="two columns">
      <h5 class="u-pull-right">Restore</h5>
    </div>
    <div class="two columns">
      <button class="toggle-button"
        ng-class="settings.restore ? 'enabled' : ''"
        ng-click="settings.restore = !settings.restore">
        {{ settings.restore ? 'On' : 'Off' }}
        <i ng-class="settings.restore ? 'icon-toggle-on' : 'icon-toggle-off'"></i>
      </button>
    </div>

    <div class="four columns">
      <button class="delete-button u-pull-right" ng-click="clearHistory()">
        Clear history
        <i class="icon-trash-circled"></i>
      </button>
    </div>
  </div>

  <div class="row website" ng-repeat="website in history">

    <div class="ten columns">
      <table class="u-full-width">
        <tbody>
          <tr>
            <td class="header-row">www.</td>
            <td class="u-full-width">{{ website.url }}</td>
          </tr>
          <tr>
            <td class="header-row inline-icon">
              <i class="icon-mobile"></i>
              <i class="icon-tablet"></i>
              <i class="icon-desktop"></i>
            </td>
            <td class="u-full-width smaller-font"><span class="devices" ng-repeat="screen in website.screens">{{ screen.name }}&nbsp;</span></td>
          </tr>
          <tr>
            <td class="header-row"><i class="icon-clock"></i></td>
            <td class="u-full-width smaller-font">{{ website.timestamp | fromNow }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="two columns actions" ng-init="row.action = ''">
      <i class="icon-export"
        ng-mouseenter="row.action = 'Restore'"
        ng-mouseleave="row.action = ''"
        ng-click="restore(website)"></i>
      <i class="icon-trash-circled"
        ng-mouseenter="row.action = 'Delete'"
        ng-mouseleave="row.action = ''"
        ng-click="remove(website.url)"></i><br>
      <div class="action-hint">{{ row.action }}</div>
    </div>

  </div>
</div>
